<h1>Welcome, </h1>

<p>tweeting!<p>
<% @tweets.each do |tweet| %>
  <h3><a href="/users/<%=tweet.user.slug%>"><%= tweet.user.username %></a> </h3>
  <p><%= tweet.content %></p>
  <a href="/tweets/<%=tweet.id%>">view tweet</a>
  <br></br>
  <% end %>
